<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- headline -->
      <br><br><br>
      <div style="margin-left:auto; margin-right:auto; width: 80px;"><i class="fa fa-5x fa-check-square-o" aria-hidden="true"></i></div>
      <h2>See the balance of the Montana Legislature, in real time, from 8:40pm tonight.</h2>

    </div>

  </div>
  <div class="row">
    <div class="col-md-3 col-offset-3">
      <!-- total repubs -->
    </div>
    <div class="col-md-3">
      <!-- total dems -->
    </div>

  </div>
  <div class="row">
    <div class="col-md-8 col-offset-2">
      <!-- individual race results, possibly in table -->
    </div>

  </div>

</div>
