<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Montana Votes 2016", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Other Projects", ["http://www.porkcast.com", "http://www.1033logger.com"].sample  %>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Source Code", "https://github.com/schwad" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
